/*
 * Dropit v1.1.0
 * http://dev7studios.com/dropit
 *
 * Copyright 2012, Dev7studios
 * Free to use and abuse under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 */

/* These styles assume you are using ul and li */

.menu.dropit {
  list-style: none;
	padding: 0;
	margin: 0;
  display: flex;
}
.menu.dropit .dropit-trigger { position: relative; }
.menu.dropit .dropit-submenu {
    position: absolute;
    top: 82%;
    right: 30px; /* dropdown left or right */
    z-index: 1000;
    display: none;
    min-width: 100px;
    list-style: none;
	  padding: 20px;
	  margin: 0;
}
.menu.dropit .dropit-open .dropit-submenu {
  display: block;
  background: #FFF;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,.30);
  border-radius: 4px;
}
.menu.dropit .dropit-open .dropit-submenu:after {
  content: " ";
  position: absolute;
  border-style: solid;
  border-width: 0 8px 8px;
  border-color: #FFF transparent;
  display: block;
  width: 0;
  z-index: 1;
  top: -8px;
  right: 58px;
}
.menu.dropit .dropit-open .dropit-submenu li {
  display: block;
  margin-bottom: 15px;
}
.menu.dropit .dropit-open .dropit-submenu li:last-child {
  margin-bottom: 0px;
}
.menu.dropit .dropit-open .dropit-submenu li a {
  color:#D70582;
  text-decoration: none;
  font-family: 'Proxima Nova', proxima-nova, Helvetica, sans-serif;
  font-weight:100;
  font-size: 14px;
}
.menu.dropit .dropit-open .dropit-submenu li a i {
  margin-right: 8px;
}

/*Menu Settings*/

.menu-settings.dropit {
  list-style: none;
	padding: 0;
	margin: 0;
  display: flex;
}
.menu-settings.dropit .dropit-trigger { position: relative; }
.menu-settings.dropit .dropit-submenu {
    position: absolute;
    top: 82%;
    right: 0px; /* dropdown left or right */
    z-index: 1000;
    display: none;
    min-width: 150px;
    list-style: none;
	  padding: 20px;
	  margin: 0;
}
.menu-settings.dropit .dropit-open .dropit-submenu {
  display: block;
  background: #FFF;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,.30);
  border-radius: 4px;
}
.menu-settings.dropit .dropit-open .dropit-submenu:after {
  content: " ";
  position: absolute;
  border-style: solid;
  border-width: 0 8px 8px;
  border-color: #FFF transparent;
  display: block;
  width: 0;
  z-index: 1;
  top: -8px;
  right: 45px;
}
.menu-settings.dropit .dropit-open .dropit-submenu li {
  display: block;
  margin-bottom: 0px;
}
.menu-settings.dropit .dropit-open .dropit-submenu li:last-child {
  margin-bottom: 0px;
}
.menu-settings.dropit .dropit-open .dropit-submenu li a {
  color:#D70582;
  text-decoration: none;
  font-family: 'Proxima Nova', proxima-nova, Helvetica, sans-serif;
  font-weight:100;
  font-size: 14px;
}
.menu-settings.dropit .dropit-open .dropit-submenu li a i {
  margin-right: 8px;
}
