html, body {
  overflow-x:hidden;
  height:100%;
}
body {
  font-family: 'Proxima Nova', proxima-nova, Helvetica, Arial, sans-serif;
  color:#1C2323;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Fredoka One', Helvetica, cursive;
}
h1 {
  font-size: 48px;
}
h2 {
  font-size: 36px;
  font-weight: normal;
  margin-bottom: 5px;
}
p {
  font-size: 22px;
  line-height: 21px;
  font-weight: 300;
}

/* GRID */
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}
.container:before,
.container:after {
  content: " ";
  display: table;
}
.container:after {
  clear:both;
}
.one-half, .one-third, .row {
  width: 96%;
  float: left;
  position: relative;
  min-height: 1px;
  margin: 0 2% 20px;
}

/*HEADER*/
header {
 color: #FFF;
 background-image: url(../Images/hero-image.png);
 background-position: center center;
 background-repeat: no-repeat;
 background-attachment: fixed;
 background-size: cover;
 height: 85%;
}
header nav {
 padding: 1em 0;
 width:100%;
}

header nav ul {
  text-align: center;
  display:block;
  position: relative;
  margin-right: 50px;
}

header nav ul > li {
  list-style-type: none;
  display: inline-block;
  margin:0 15px;
}
header nav ul > li.btn-outline {
  padding:10px 15px;
  border:2px solid #30B9C3;
  border-radius: 4px;
}
header nav ul > li.btn-outline:hover {
  background:#30B9C3;
}
header nav ul > li > a {
  color:#FFF;
  text-decoration: none;
}
header nav ul > li.btn-outline:hover > a {
  color:#FFF;
}
header .hero h1 {
  font-size:48px;
  font-weight: normal;
  margin:95px 0 0;
}
header .hero p {
  font-size: 22px;
  line-height: 26px;
  font-weight: 100;
  margin:10px 0 40px;
}
header .hero {
  text-align: center;
  display:block;
  position: relative;
}

/* BUTTONS */
.btn {
  border-radius: 6px;
  color:#FFFFFF;
  font-weight: 500;
  font-size: 18px;
  text-decoration: none;
  padding:10px 30px;
  background: #30B9C3;
  border: 2px solid #30B9C3;
  box-shadow: 0px 2px 2px 0px #1EE3F2;
}

/*Benefits*/
.notes .container {
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 100px;
  padding-top: 70px;
  margin-left: auto;
  margin-right: 100px;
}
.images .container {
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 100px;
  padding-top: 0px;
  margin-left: 120px;
  margin-right: 100px;
}
.links .container {
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 100px;
  padding-top: 0px;
  margin-left: auto;
  margin-right: 100px;
}
#images {
  padding-left: 50px;
}
.text-block > h2 {
  color: #D70582;
}
.text-block > ul > li {
  list-style-type: none;
  font-size: 18px;
  padding-bottom: .5em;
}
.fa-check {
  color: #30B9C3;
}

/* Benefits
.block, {
  display: table;
  padding-left: 80px;
  padding-right: 80px;
  margin-right: 20px;
  margin-left: 20px;
}
.laptop-block, .text-block {
  display: table-cell;
  padding: 50px;
  vertical-align: middle;
  width: 50%;
}
.laptop-block {
  padding-right: 100px;
}
.text-block {
    padding-left: 130px;
}
#image .text-block {
  padding-right: 100px;
  padding-left: 5px
}
#image .laptop-block {
  padding-left: 130px;
} */
 /* Old benefits CSS
 .benefits-image-block, .benefits-text-block {
   display: inline-block;
   vertical-align: middle;
 } */

/*PRICING*/
.pricing {
  background:url("../Images/pricing-image.png") top center no-repeat;
  background-size:cover;
  text-align: center;
  padding:4em 0;
}
.pricing h2, .pricing p {
  color:#FFFFFF;
}
.pricing ul {
  margin:0 auto;
  padding:2em 0;
}
.pricing ul li {
  list-style-type: none;
}

.box {
  padding:0 15px 15px;
  background: rgba(215,5,130,.1);
  background-image: linear-gradient(-225deg, rgba(215,5,130,0.50) 0%, #B31974 50%);
  box-shadow: 0 2px 4px 0 rgba(138,17,89,0.20);
  min-height: 439px;
  position: relative;
  margin-top: 25px;
}
.box.middle {
  min-height: 485px;
  margin-top:0px;
}
.box h3 {
  font-family: "Proxima Nova", Helvetica, Arial, sans-serif;
  font-weight: 600;
  color: #FFF;
  text-transform: uppercase;
  background: rgba(138,17,89,.6);
  box-shadow: 0 1px 2px 0 rgba(138,17,89,0.40);
  left:0;
  right:0;
  top:0;
  text-align: center;
  margin:0 -15px 40px;
  padding:10px 0;
}
.box h4 {
  font-family: 'Fredoka One', Helvetica, sans-serif;
  font-size:50px;
  font-weight: normal;
  margin:40px 0 10px;
  color:#FFF;
 }
 .box h4 span {
  font-size:32px;
  vertical-align: top;
}
.box h4 span.month {
  font-family: 'Fredoka One', Helvetica, sans-serif;
  font-weight: 100;
  color:#FFF;
  font-size:20px;
  vertical-align: middle;
}
.box ul li {
  color: #FFF;
  font-size:18px;
  margin-bottom:20px;
  font-weight: 100;
}
.box .btn {
  position:absolute;
  bottom:30px;
  left:20px;
  right:20px;
}


/* TESTIMONIALS */
 .testimonials {
   padding:4em 0;
   text-align: center;
   background-color: #FFF;
 }

 .testimonials h2 {
   color:#D70582;
 }
 .testimonials ul li {
   list-style-type: none;
   margin-left: auto;
   margin-right: auto;
   height: 175px;
   padding-bottom: 10px;
   padding-top: 40px;
 }
 .testimonials img {
    height: 65px;
    width: 65px;
    display: inline-block;
    vertical-align: middle;
    margin:20px 10px 0 0;
  }
  .testimonials p.name {
    display: inline-block;
    text-align: left;
    font-size:13px;
    vertical-align: middle;
    margin-top: 30px;
    color: #fff;
  }
.testimonials ul li blockquote {
  margin-left: 50px;
  margin-right: 50px;
  color: #fff;
  margin-bottom: 0;
}


/*FOOTER */
/* FOOTER */
 footer {
   background-color: #EAEAEA;
   background-image: linear-gradient(to top,
      #EAEAEA 0%, #EAEAEA 50%, #D70582 50%, #D70582 100%);
   color: #FFFFFF;
   height: 150px;
   position: relative;
   overflow: hidden;
   z-index: 0;
 }
 footer p, footer nav ul {
   font-size:14px;
   font-weight:100;
   text-align: center;
   margin: 10px auto 0;
 }
 footer nav ul li {
   list-style-type: none;
   display: inline;
 }
 footer nav ul li a {
   color:#FFFFFF;
   text-decoration: none;
 }
 footer .right-footer-block {
   background-color: transparent;
 }
 footer .logo{
   padding: 2.35em 0;
   margin: 0 auto;
   display: block;
 }
 @media (min-width: 992px){
  footer{
    background-color: #EAEAEA;
    background-image: linear-gradient(to left,
       #EAEAEA 0%, #EAEAEA 33.33337%, #D70582 33.33337%, #D70582 100%);
    height: 100px;
  }
  footer p, footer nav ul{
    padding: 2em 0;
    text-align: left;
  }
  footer .right-footer-block {
    background-color: #EAEAEA;
  }
  footer .logo{
    padding: 2em 0 2em 1.5em;
  }
}

/*CTA */
.CTA {
  padding:4em 0;
  text-align: center;
  background-color: rgba(48,185, 195, .25);
}
.CTA .container > h3 {
  color: #D70582
}
.CTA .container > p {
  font-size: 18px;
  padding-bottom: 1em;
}

 /* Media Queries */

 @media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  @media (max-width: 991px) {
    .notes, .images, .links {
      text-align: center;
    }
    .notes .container {
      flex-direction: column;
      justify-content: center;
      padding-bottom: 50px;
      margin-left: auto;
      margin-right: auto;
    }
    .images .container {
      flex-direction: column-reverse;
      justify-content: center;
      padding-bottom: 50px;
      margin-left: auto;
      margin-right: auto;
      padding-left: 0px;
    }
    .links .container {
      flex-direction: column;
      justify-content: center;
      padding-bottom: 50px;
      margin-left: auto;
      margin-right: auto;
    }
    .row .text-block {
      order: 1;
    }
    footer {
      height: auto;
    }
    .fa-ul {
      text-align: left;
    }
  }
  @media (max-width: 991px){
    .testimonials .my-slider {
      display:none;
    }
    .testimonials .slider {
      display:none;
    }
  }
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
    .one-half {
      width:46%;
    }
    .one-third {
      width:29.33333%;
    }
    header nav ul {
      display:inline;
      text-align: right;
      float: right;
      margin:0;
    }
    header .hero {
      text-align: center;
      display:block;
      position: relative;
      padding-top: 50px;
    }
    .testimonials .quote {
      display:none;
    }
  }
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }


/*DASHBOARD */

  /*TOP NAV*/
.top-nav {
  height: 80px;
  background: #EAEAEA;
  box-shadow: 0 2px 3px 0 rgba(215,5,130,0.40);
}
.flex-container {
  width: auto;
  margin: 0 0 0 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}
.flex-container ul {
  display: flex;
}
.flex-container ul li {
  list-style-type: none;
}
.flex-container ul li a {
  text-decoration: none;
}
.flex-middle > li {
  padding: 45px;
}
.flex-right li {
  padding: 10px;
}
.flex-right .avatar {
  padding-top: 15px;
  height:35px;
  width:35px;
}
.flex-container h1 {
  font-family: 'Proxima Nova', proxima-nova, Helvetica, sans-serif;
  font-size: 32px;
  font-weight: 100;
  color: #D70582;
}
#search a {
  color: #30B9C3;
  font-size: 16px;
  padding: 10px 70px;
  border: 1px solid #30B9C3;
  border-radius: 6px;
}
#sort a {
  color: #30B9C3;
  font-size: 16px;
  padding: 10px 40px;
  border: 1px solid #30B9C3;
  border-radius: 6px;
}
.flex-right p {
  font-size: 13px;
  font-weight: 600;
  color: #D70582;
}
@media (max-width: 767px){
.top-nav {
  height: auto;
  background: #EAEAEA;
  box-shadow: 0 2px 3px 0 rgba(215,5,130,0.40);
}
.flex-container {
  width: auto;
  margin: 0 0 0 50px;
  display: flex;
  flex-flow: column;
  flex-wrap: wrap;
  height: auto;
}
.flex-container ul {
  display: flex;
  flex-flow: wrap;
  margin-bottom: 0;
}
.flex-container h1 {
  display: none;
}
#search a {
  display: none;
}
#sort a {
  display: none;
}
.flex-middle {
  padding: 0;
  margin: 0;
}

}

/*LEFT NAV */
.left-nav {
  height: 180vh;
  width:14.66666667%;
  color: #FFF;
  background: #D70582;
  background-image: linear-gradient(-225deg, rgba(215,5,130,0.50) 0%, #B31974 100%);
  float: left;
  position: relative;
  display: block;
}
.left-nav .items p {
  padding: 10px 6%;
}
.left-nav .items p {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 12px;
  color: #EAEAEA;
  line-height: 15px;
}
.left-nav .items ul {
  margin:0 0 30px;
  padding:0;
}
.left-nav .items ul li {
  list-style-type: none;
  margin-bottom: 12px;
  margin-left: 35px;
}
.left-nav .items ul li a {
  color: #FFF;
  text-decoration: none;
  font-weight: 100;
  font-size: 14px;
}
.left-nav .items ul li a i {
  width: 16px;
  text-align: center;
  margin-right: 8px;
}
.left-nav .items ul li.active a {
  color: #1EE3F2;
  font-weight: 500;
}
.left-nav .items ul li a:hover {
  font-style: italic;
}
@media (max-width: 767px){
.left-nav {
  height: 450px;
  width: 40px;
}
.left-nav .items {
  padding-top: 20px;
}
.left-nav .items ul li {
  margin-left: 10px;
  margin-right: auto;
}
.left-nav span {
  display:none;
}
.left-nav p {
  display:none;
}
}

hr {
  width: 85%;
  border: none;
  color: #fff;
  background-color: rgba(255,255,255,.5);
  height: 1px;
}


/*CONTENT*/

.content {
  padding:6em 1% 1.5em;
  float:right;
  width: 96%;
  position: relative;
}
.content-item {
  width: 96%;
  margin:0 2% 25px;
  float: left;
  display: block;
}
.item-box {
  display: block;
  height: 230px;
  background: #EAEAEA;
  box-shadow: 0 1px 3px 0 rgba(28,35,35,0.40);
  position: relative;
  overflow: hidden;
  padding:20px;
}
@media (min-width: 460px) {
  .content {
    padding: 1.5em 1%;
    float: right;
    width: 90%;
    position: relative;
  }
  .content-item {
    width: 46%;
    margin:0 2% 25px;
    float: left;
    display: block;
  }
}
@media (min-width: 768px) {
  .content {
    padding: 1.5em 5%;
    float: right;
    width: 90%;
    position: relative;
  }
  .content > .container {
    width:700px
  }
  .content-item {
    width:31.33333%;
    margin:0 1% 25px;
  }
}
@media (min-width:992px) {
  .content {
    padding:1.5em 1%;
    float: right;
    width:83.33333333%;
    position: relative;
  }
  .content > .container {
    width: auto;
  }
  .content-item {
    width:23%;
    margin:0 1% 25px;
  }
}

.item-box > img {
  position: absolute;
  height: 100%;
  width: auto;
  top:0;
  left:0;
  right:0;
}
.item-box h2 {
  font-family: 'Proxima Nova', proxima-nova, Helvetica, sans-serif;
  font-size: 14px;
  font-weight:700;
  line-height: 17px;
  margin:0;
  color: #932566
}
.item-box h2 a {
  color: #932566;
  text-decoration: none;
}
.item-box h2 img {
  width:16px;
  height:16px;
  position: relative;
  top:2px;
  margin-right:5px;
}
.item-box p {
  font-size: 14px;
  color: #1C2323;
  line-height: 18px;
  margin:5px 0 0;
}
.item-box ul li {
  font-size: 14px;
  color: #1C2323;
  line-height: 18px;
  margin:5px 0 0;
}
