html, body {
  overflow-x:hidden;
}
body {
  font-family: 'Proxima Nova', proxima-nova, Helvetica, Arial, sans-serif;
  color:#1C2323;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Fredoka One', Helvetica, cursive;
}
h1 {
  font-size: 48px;
}
h2 {
  font-size: 36px;
  font-weight: normal;
  margin-bottom: 5px;
}
p {
  font-size: 22px;
  line-height: 21px;
  font-weight: 300;
}

/* GRID */
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}
.container:before,
.container:after {
  content: " ";
  display: table;
}
.container:after {
  clear:both;
}
.one-half, .one-third, .row {
  width: 96%;
  float: left;
  position: relative;
  min-height: 1px;
  margin: 0 2% 20px;
}

/*Benefits*/
.notes .container {
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 100px;
  padding-top: 70px;
  margin-left: auto;
  margin-right: 100px;
}
.images .container {
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 100px;
  padding-top: 0px;
  margin-left: 120px;
  margin-right: 100px;
}
.links .container {
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 100px;
  padding-top: 0px;
  margin-left: auto;
  margin-right: 100px;
}
#images {
  padding-left: 50px;
}






/*BENEFITS */

/* Benefits
.block, {
  display: table;
  padding-left: 80px;
  padding-right: 80px;
  margin-right: 20px;
  margin-left: 20px;
}
.laptop-block, .text-block {
  display: table-cell;
  padding: 50px;
  vertical-align: middle;
  width: 50%;
}
.laptop-block {
  padding-right: 100px;
}
.text-block {
    padding-left: 130px;
}
#image .text-block {
  padding-right: 100px;
  padding-left: 5px
}
#image .laptop-block {
  padding-left: 130px;
} */
 /* Old benefits CSS
 .benefits-image-block, .benefits-text-block {
   display: inline-block;
   vertical-align: middle;
 } */

/* Media Queries */
@media (max-width: 768px) {
  .notes .container {
    flex-direction: column;
    justify-content: center;
    padding-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
  }
  .images .container {
    flex-direction: column-reverse;
    justify-content: center;
    padding-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0px;
  }
  .links .container {
    flex-direction: column;
    justify-content: center;
    padding-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
  }
  .row .text-block {
    order: 1;
  }
}
@media (min-width: 768px) {
   .container {
     width: 750px;
   }

 }
 @media (min-width: 992px) {
   .container {
     width: 970px;
   }
   .one-half {
     width:46%;
   }
   .one-third {
     width:29.33333%;
   }

 }
 @media (min-width: 1200px) {
   .container {
     width: 1170px;
   }
 }
