.unslider{overflow:visible;margin:0;padding:0}.unslider-wrap{position:relative}.unslider-wrap.unslider-carousel>li{float:left}.unslider-vertical>ul{height:100%}.unslider-vertical li{float:none;width:100%}.unslider-fade{position:relative}.unslider-fade .unslider-wrap li{position:absolute;left:0;top:0;right:0;z-index:8}.unslider-fade .unslider-wrap li.unslider-active{z-index:10}
.unslider li,.unslider ol,.unslider ul{list-style:none;margin:0;padding:0;border:none}
.unslider-arrow {
  position: relative;
  left: 350px;
  top: -125px;
  z-index: 2;
  cursor: pointer;
  font-size: 18px;
  color: #30B9C3;
  background-color: rgba(48,185,195, .20);
  padding: 5px;
  padding-left: 12px;
  padding-right:12px;
  border-radius: 50%;
}

.unslider-arrow.prev{left:auto;right:350px}
.slider {
  background: #D70582;
  box-shadow: 0 2px 4px 0 rgba(138,17,89,0.40);
  margin-left: 28%;
  margin-right: 28%;
  border-radius: 4px;
}


@media (max-width: 767px){
  .slider {
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: auto;
  }
}
@media (max-width: 991px){
  .slider {
    margin-left: 15%;
    margin-right: 15%;
    padding-bottom: 10px;
    height: auto;
  }
}
